<ion-content [fullscreen]="false">
    <div class="main">
      <div class="img">
        <ion-img src="../../assets/images/description-3.png" />
      </div>
      <div class="content">
        <h2>IBAM</h2>
        <h2>IBAM</h2>
      </div>
      <div class="buttons">
          <div class="next">
            <ion-button (click)="next()">
            <ion-label >Next</ion-label>
            </ion-button>
          </div>
          <div class="skip">
            <ion-button color="secondary" (click)="skip()">
            <ion-label >Skip</ion-label>
            </ion-button>
          </div>
      </div>
    </div>
   

</ion-content>

