<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="sujets-test"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="anim">
      <div class="container">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
      </div>
      <svg>
        <filter id="gooey" >
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
          <feColorMatrix values="
          1 0 0 0 0
          0 1 0 0 0
          0 0 1 0 0
          0 0 0 -20 -10
          " />
        </filter>
      </svg>
    </div>
    <div class="pay">
        <div class="text">
          <p>Choisir votre Option de payment</p>
          <p>Payer avec sûrété !!</p>
        </div>
        <div class="choice">
          <div class="choix orange">
            <ion-img src="../../assets/images/orange.jpg" />
          </div>
          <div class="choix moov">
            <ion-img src="../../assets/images/moov.jpg" />
          </div>
          <div class="choix coris">
            <ion-img src="../../assets/images/coris.jpg" />
          </div>
          <div class="choix stripe">
            <ion-img src="../../assets/images/stripe.jpg" />
          </div>
        </div>
    </div>
</ion-content>
