*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ion-content{
    --background:#fff;
    --color: #000;

    .container{

      .main{
        display:flex;
        justify-content:center;
        align-items:center;
        min-height:80vh;

        .img{
          position:absolute;
          top:29px;

          ion-img{
            width:180px;
          }
        }

        .buttons{

        position:absolute;
        top:410px;
        
          .student{
          margin-bottom:10px;
          }
          ion-button{
            height:40px;
            width:145px;

            ion-icon{
              margin-right:15px;
            }
          }
        }

        .cube{
          position:relative;
          top:50px;
          height:60px;
          width:60px;
          transform-style:preserve-3d;
          transform:rotateX(-30deg);
          animation:animate 4s linear infinite;

          & div{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            transform-style:preserve-3d;

            & span{
              position:absolute;
              top:0;
              left:0;
              height:100%;
              width:100%;
              background:linear-gradient(#f0ebeb,#f17704);
              transform:rotateY(calc(90deg * var(--i))) translateZ(30px);
            }
          }
        }
        @keyframes animate{
          0%{
            transform:rotateX(-30deg) rotateY(0deg);
          }
          100%{
            transform:rotateX(-30deg) rotateY(360deg);
          }
        }
        .top{
          position:absolute;
          top:0;
          left:0;
          height:60px;
          width:60px;
          background:#ecebeb;
          transform:rotateX(90deg) translateZ(30px);

          &::before{
            content:'';
            position:absolute;
            top:0;
            left:0;
            height:60px;
            width:60px;
            background:#f17704;
            transform:translateZ(-90px);
            filter:blur(10px);
            box-shadow:0 0 120px #f17704,0 0 120px #cf6908,0 0 120px #b35b09,0 0 120px #f39843
          }
        }
      }
    }
}