<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
        <div class="img">
          <ion-img src='../../assets/images/gp1.png' />
        </div>
        <div class="form">
          <form action="">
            <ion-input type="text" placeholder="Username" clear-input id="username"></ion-input>
            <ion-input type="text" placeholder="email" clear-input id="email"></ion-input>
            <ion-input type="password" placeholder="Password" clear-input id="password"></ion-input>
            <ion-button shape="round">Sign Up</ion-button><br>
            <a (click)="sign_in()">sign in</a><br>
        </form>
        </div>
  </div>
</ion-content>
