*,::after,::before{
    margin: 0;
    padding: 0;
    outline: none;
}
::-webkit-scrollbar{
  display: none;
}
ion-content{--background:linear-gradient(45deg,#15a8d4, #f8a94f);
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;

      .img{
        position: absolute;
        top: 25px;
        left: 20px;
        cursor:pointer;
      }

      .form{
        position: relative;
        top: 75px;
        left: 5px;

        form{
          ion-input{
            margin-top: 15px;
            border: 1px solid #fff;
            border-radius: 5px;
          }
        }
        ion-button{
          margin-top: 25px;
          margin-bottom: 17px;
          margin-left:-5px ;
        }
        a{
          color: #f36609;
          text-decoration: none;
          margin: -40px 0px 0px 130px;
          border-radius: 5px;
          border: 1px solid #f8a94f;
          padding: 6px;
          cursor: pointer;

          &:hover{
            color: #f8f9fa;
            border: 1px solid #f8f9fa;
          }
        }
    }

  }


}
